* {box-sizing: border-box; }
body { margin:0; }
h1 {margin-left: 1rem}

/*Header **/
header{

    border-bottom:#ff9900 3px solid;
   
}

{
    border-bottom-color:#ff9900 3px solid;
}
/* end of Header */


/* CSS rules for Navigation */

.main-nav .nav-button {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

/* change default displays for List Items (li) */


.main-nav ul {
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
    background-color:gainsboro;
}

.main-nav ul.active {
    display:block;
} 

.main-nav a {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;1
    text-decoration: none;
    text-align:center;
    display: block;
    color: #333;
    
}
.main-nav a:hover, .main-nav a:focus {
  background: #ccc;
  color: black;
}



/* end of CSS rules for Navigation */

/* CSS for Main */


main{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    margin:0;
    text-align: center
}

p1{
  font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    line-height:1.5;
    margin:0; 
    text-align: center

        
}




m2{
  font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding-bottom:50px;
    margin:0; 
    text-align: center
}

m3{
  font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    line-height:1.5;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    margin:0; 
    text-align: center
}

h1{
  font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height:1.5;
    margin:0; 
    text-align: center
     
}

h2{
  font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    line-height:1.5;
    margin:0; 
    text-align: center
    
}

/* end of CSS rules for Main */



/* CSS for project page */
ul.projects {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding:0px;  
   
  

}
ul.projects li {
   height: auto;
   /* https://www.w3schools.com/cssref/css_units.asp */
   flex-grow: 1;
    padding:.25rem; 
     
}
ul.projects li:last-child {
  flex-grow: 10;
}

ul.projects li img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
   
}



/*end of css for project page */

/*css for slideshow */
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 80%; 
    height: 70vh; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    display: flex;
   flex-wrap: wrap;
   list-style: none;
    padding:0px;  
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    height: auto;
    flex-grow: 1;
}

#slideshow > div img {
    max-height: 98%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}



/*end css for slideshow */




/*css for Contact page */
form div {
    padding-left:1em;
    padding-right:1rem;
}

form div p {
    padding-left:0;
}

form div span.formText {
    display:inline-block;
    width:100px;
}

form div textarea {
    width:100%;
    height:5rem;
}



/* end of CSS for Contact page */




/* footer styles */
footer {
    text-align:center;
    background-color: gainsboro;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}


/* Media queries go at the end */
@media screen and (min-width: 800px) {
    /* hide the menu button on larger screen */
    .main-nav .nav-button {
        display:none;
    }
    /* change how the menu displays */
    
    .main-nav ul, .main-nav ul.active {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        /*flex-start => left justified*/
    }
    

    .flex div {
        width:50%
    }
    
    /*footer styles*/
    footer {
        display:flex;
    }
    footer div {
        width:50%
    }
    footer div.copy {
        text-align:left;
    }
    footer div.contact {
        text-align:right;
    }
    }
    footer  {
        padding:50px;
    }
 {
    border-top:#ff9900 3px solid;
}
}